.footer-social-icons {
    display: inline-flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
}

.list-icon {
    padding: 5px;
}

.fa-twitter {
    background: #1da1f2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #aab8c2, #1da1f2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #aab8c2, #1da1f2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-spotify {
    background: #1db954;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191414, #1db954);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right #191414, #1db954);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-instagram {
    background: #833ab4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-facebook {
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer div div ul li i {
    font-size: 36px;
}

@media only screen and (max-width: 600px) {
    .footer-social-icons {
        justify-content: center;
    }
}
