.footer-social-icons {
    display: inline-flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
}

.list-icon {
    padding: 5px;
}

footer div div ul li i {
    font-size: 36px;
}

@media only screen and (max-width: 600px) {
    .footer-social-icons {
        justify-content: center;
    }
}
