    /*CSS Variables*/

    :root {
        --primarycolor: #D72F01;
        --secondarycolor: #F09E8C;
        --lightcolor: #F4D9C1;
        --backgroundcolor: #FB8937;
        --primaryfont: 'Montserrat', sans-serif;
        --secondaryfont: 'Merriweather', serif;
    }


    /*Root Element Styles*/

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 62.5%;
        overflow-x: hidden;
    }

    body {
        background-color: var(--lightcolor);
        font-family: var(--primaryfont);
        font-weight: 400;
        line-height: 1.7;
        overflow-x: hidden;
    }


    /*Headings*/

    .heading-primary {
        color: var(--lightcolor);
        margin-bottom: 6rem;
        margin-left: 2.25rem;
        text-transform: uppercase;
    }

    .heading-primary-main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        margin-top: 12rem;
    }

    .heading-primary-sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.45rem;
        margin-left: -1.5rem;
    }

    .heading-secondary {
        color: var(--primarycolor);
        font-size: 3.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .heading-tertiary {
        color: var(--secondarycolor);
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
    }


    /*Buttons*/

    .btn {
        border-radius: 10rem;
        display: inline-block;
        font-size: 1.5rem;
        padding: 1.5rem 4rem;
        text-decoration: none;
        text-transform: uppercase;
    }


    /**Gives slight box-shadow on hover**/

    .btn:hover {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }

    .btn--green {
        background: #1db954;
        color: #fff;
    }


    /*Utility Classes*/

    .u-center-text {
        text-align: center;
    }

    .u-margin-bottom-large {
        margin-bottom: 8rem;
    }

    .u-margin-bottom-medium {
        margin-bottom: 2rem;
    }

    .u-margin-bottom-small {
        margin-bottom: 1.5rem;
    }

    .u-padding-bottom-small {
        padding-bottom: 3rem;
    }

    .u-padding-top {
        padding-top: 2rem;
    }


    /*Navbar Classes*/

    .logo {
        height: 5rem;
        position: relative;
        top: 0;
    }


    /**Changes navbar toggler background to circle**/

    .navbar-toggler {
        background-color: #f7f7f7;
        border-radius: 50%;
        height: 3.5rem;
        width: 3.5rem;
    }

    .navbar-light .navbar-nav .nav-link:link,
    .navbar-light .navbar-nav .nav-link:visited {
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
        background-size: 220%;
        color: #fff;
        display: inline-block;
        font-size: 2rem;
        font-weight: 300;
        padding: 1rem 2.75rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .4s;
    }


    /**Navbar link items animation on hover**/

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:active {
        background-position: 100%;
        color: var(--primarycolor);
        transform: translateX(2rem);
    }


    /**Navbar icons display and margin**/

    .nav-link span {
        display: inline-block;
        margin-right: 1.5rem;
    }


    /* Hero */

    .text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }

.header {
    background-image: linear-gradient(to right bottom, rgba(70, 52, 78, 0.8), rgba(90, 85, 96, 0.8)), url(../images/dancers.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.container-fluid {
    padding: 0;
}



    /* Footer styles */

    .footer-social-icons {
        display: inline-flex;
        list-style: none;
        width: 100%;
        justify-content: flex-end;
    }

    .list-icon {
        padding: 5px;
    }

    .fa-twitter {
        background: #1da1f2;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #aab8c2, #1da1f2);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #aab8c2, #1da1f2);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .fa-spotify {
        background: #1db954;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #191414, #1db954);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right #191414, #1db954);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .fa-instagram {
        background: #833ab4;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .fa-facebook {
        background: #00c6ff;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0072ff, #00c6ff);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    footer div div ul li i {
        font-size: 36px;
    }

    .popup {
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: 100vw;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;

    }

    .popup_content {
        border-radius: 3px;
        display: table;
        width: 75%;
        background-color: #fff;
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .popup_left {
        display: table-cell;
        width: 33.333333%;
    }

    .popup_right {
        display: table-cell;
        width: 66.666667%;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    .popup_img {
        display: block;
        width: 100%;
    }

    .popup_text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid #eee;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    @media only screen and (max-width: 600px) {
        .footer-social-icons {
            justify-content: center;
        }
    }

    /* map*/


#map {
  height: 50rem; 
}


.text-input {
    font-family: inherit;
    font-size: 5rem;
    margin-top: 2rem;
    padding: 2rem 2rem;
    width: 100%; 
}

    #map {
        min-height: 400px;
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 90px;
    }
    section {
        text-align: center;
    }
    /* section background*/
    #contactus {
        background-color: #daa62b;
    }
    #location {
        background-color: greenyellow;
        height: 100vh;
    }
    /*margin right left body*/

    
    .form-main {
        margin-top: 10rem;
    }

