/*CSS Variables*/

:root {
    --primarycolor: #D72F01;
    --secondarycolor: #F09E8C;
    --lightcolor: #F4D9C1;
    --backgroundcolor: #FB8937;
    --primaryfont: 'Montserrat', sans-serif;
    --secondaryfont: 'Merriweather', serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


body {
  background-color: var(--lightcolor);
  font-family: var(--primaryfont);
  font-weight: 400;
  line-height: 1.7;
  overflow-x: hidden;
}

/*Headings*/

.heading-secondary {

    color: var(--primarycolor);
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

/*Buttons*/

.btn {
    border-radius: 10rem;
    display: inline-block;
    font-size: 1.5rem;
    padding: 1.5rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
}

/**Gives slight box-shadow on hover**/

.btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn--green {
    background: #1db954;
    color: #fff;
}

/*Utility Classes*/

.u-center-text {
    text-align: center;
}

.u-margin-bottom-large {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 2rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-padding-bottom-small {
    padding-bottom: 3rem;
}

.u-padding-top {
    padding-top: 2rem;
}

.footer-social-icons {
    display: inline-flex;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
}

.list-icon {
    padding: 5px;
}

.fa-twitter {
    background: #1da1f2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #aab8c2, #1da1f2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #aab8c2, #1da1f2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-spotify {
    background: #1db954;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191414, #1db954);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right #191414, #1db954);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-instagram {
    background: #833ab4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-facebook {
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer div div ul li i {
    font-size: 36px;
}

.popup {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;

.popup_content {
    border-radius: 3px;
    display: table;
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup_left {
    display: table-cell;
    width: 33.333333%;
}

.popup_right {
    display: table-cell;
    width: 66.666667%;
    vertical-align: middle;
    padding: 3rem 5rem;
}

.popup_img {
    display: block;
    width: 100%;
}

.popup_text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

@media only screen and (max-width: 600px) {
    .footer-social-icons {
        justify-content: center;
    }
}
