{% extends 'layout.html' %} {% block body %}

<!--Hero Section-->
<div class="container-fluid">
<header class="header">
    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main">CI Summer Festival</span>
            <span class="heading-primary-sub">The Party Starts Here</span>
        </h1>
    </div>
</header>
</div>
    
    
<section class="container-fluid px-0" id="lineup">
    <h2 class="heading-secondary u-center-text u-margin-bottom-large u-padding-top">Lineup</h2>
    <div class="row">
        <div class="col-6">
            <h3 class="heading-tertiary text-center">Artist Name</h3>
        </div>
        <div class="col-6">
            <img src="static/assets/images/festival.jpg" class="img-fluid">
        </div>
    </div>
</section>



<section id="location" .z-depth-5>
        <h2 class="heading-secondary u-center-text u-margin-bottom-large u-padding-top">WHERE.IS.IT</h2>
    <div id="map"></div>
</section>

<section id="contactus" class="container-fluid">
    <div class="container contact-form">
        <form method="post" action="mail.php">
            <h2 class="heading-secondary u-center-text u-margin-bottom-large u-padding-top">Contact Us</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" name="txtName" class="form-control text-input" placeholder="Your Name *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtEmail" class="form-control text-input" placeholder="Your Email *" value="" required />
                    </div>
                    <div class="form-group">
                        <input type="text" name="txtPhone" class="form-control text-input" placeholder="Your Phone Number *" value="" />
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea name="txtMsg" class="form-control text-input" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                    </div>
                </div>
                <div class="col-sm-12"><div class="form-group">
                        <input type="submit" name="btnSubmit" class="btn btn--green" value="Send Message" />
                    </div></div>
            </div>
        </form>
    </div>
</section>

<footer class="container">
    <div class="row">
        <div class="col-12">
            <ul class="footer-social-icons">
                <li class="list-icon"><i class="fab fa-twitter"></i></li>
                <li class="list-icon"><i class="fab fa-spotify"></i></li>
                <li class="list-icon"><i class="fab fa-instagram"></i></li>
                <li class="list-icon"><i class="fab fa-facebook"></i></li>
            </ul>
        </div>
    </div>
</footer>

<!-- Modal popup -->

<div class="popup">
    <div class="popup_content">
        <div class="popup_left">
            <img src="static/assets/images/rosalia-1.jpg" alt="artist photo" class="popup_img">
            <img src="static/assets/images/rosalia-2.jpg" alt="artist photo" class="popup_img">
        </div>
        <div class="popup_right">
            <h2 class="heading-secondary u-margin-bottom-medium">Rosalía</h2>

            <p class="popup_text">Rosalía always had a vision: to open an unexplored path based on the flamenco tradition but that completely redefines new pop music. At a time where linguistic barriers are breaking down and non-English spoken music is acquiring global predominance,
                this artist from Sant Esteve Sesrovires has not settled with reinventing a conceptual imagery and aesthetic, but has also gone for boundless transcendental experimentation hand in hand with El Guincho.</p>

            <a href="https://open.spotify.com/album/355bjCHzRJztCzaG5Za4gq" class="btn btn--green">Stream Now</a>
        </div>
    </div>
</div>



<!--map script-->
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: {
                lat: 59.362170,
                lng: 18.057896
            }
        });
        var labels = "ABCDEFGHIJKLMONPQRSTUVWXYZ";
        var locations = [{
            lat: 59.362170,
            lng: 18.057896
        }];
        var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
                position: location,
                label: labels[i % labels.length]
            });
        });
        var markerCluster = new MarkerClusterer(map, markers, {
            imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
        });
    }
</script>
<!--scroll script-->


<script>
    //scroll to the map
    window.smoothScroll = function(target) {
        var scrollContainer = target;
        do { //find scroll container
            scrollContainer = scrollContainer.parentNode;
            if (!scrollContainer) return;
            scrollContainer.scrollTop += 1;
        } while (scrollContainer.scrollTop == 0);
        var targetY = 0;
        do { //find the top of target relatively to the container
            if (target == scrollContainer) break;
            targetY += target.offsetTop;
        } while (target = target.offsetParent);
        scroll = function(c, a, b, i) {
            i++;
            if (i > 30) return;
            c.scrollTop = a + (b - a) / 30 * i;
            setTimeout(function() {
                scroll(c, a, b, i);
            }, 20);
        }
        // start scrolling
        scroll(scrollContainer, scrollContainer.scrollTop, targetY, 0);
    }
</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6pdCrVsqA6Rtqsj4NdUhnxN4kLAmQtAM&callback=initMap">
</script>


{% endblock %}
